<header class="container">
  <h1>Backend Services 300</h1>
  <p class="subtitle">Showing various API Patterns</p>
</header>
<ul class="nav nav-tabs container">

  <li class="nav-item">
    <a class="nav-link"
       [routerLink]="['home']"
       [routerLinkActive]="['active']">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLink]="['sync']"
       [routerLinkActive]="['active']">Synchronous Call</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLink]="['async']"
       [routerLinkActive]="['active']">Asynchronous Call</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [routerLink]="['ws']"
       [routerLinkActive]="['active']">Websocket Call</a>
  </li>

</ul>
<main class="container">
  <router-outlet></router-outlet>
</main>
